<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body>

  <header class="page-header">
    <nav class="main-nav">
      <div class="main-nav__container base-container">
        <a class="main-nav__logo-link base-link" href="index.html">
          <figure class="main-nav__logo-image base-figure">
            <img class="main-nav__logo-img" src="img/image/logo.png" width="124" height="50" alt="Логотип">
          </figure>
        </a>

        <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">

          <a class="main-nav__logo-link main-nav__logo-link--mobile base-link" href="index.html">
            <figure class="main-nav__logo-image base-figure">
              <img class="main-nav__logo-img" src="img/image/logo-mobile.png" width="124" height="50" alt="Логотип">
            </figure>
          </a>

          <ul class="main-nav__nav-list base-list">
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="projects.html">Проект</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="press.html">Пресс-центр</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="about.html">О компании</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="people.html">Команда</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link base-link" href="contacts.html">Контакты</a>
            </li>
          </ul>

          <div class="main-nav__search-bar">
            <svg class="main-nav__search-icon" width="16" height="16" alt="Иконка поиска" id="search_icon">
              <use href="img/icon/sprite.svg#search-icon"></use>
            </svg>
          </div>

        </div>

        <button class="main-nav__burger base-button" id="burger">
          <span class="main-nav__burger-line"></span>
        </button>

      </div>
    </nav>
  </header>