<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.7" rel="stylesheet">
  <title>T!ME Development</title>
</head>

<div class="circle-container">
  <div class="circle" id="circle_follow"></div>
  <div class="circle-small" id="circle_follow_small"></div>
</div>

<body class="cover-default">

  <div class="modal" id="modal">
    <div class="modal__wrapper">
      <button class="modal__close base-button" id="modal_close">
        <svg class="modal__close-icon" width="20" height="20" alt="#">
          <use href="img/icon/sprite.svg#modal-close-icon"></use>
        </svg>
      </button>
      <div class="modal__inner">
        <span class="modal__success-text">Спасибо, ваша заявка отправлена</span>
      </div>
    </div>
  </div>

  <header class="page-header">
    <nav class="main-nav">
      <div class="main-nav__container base-container">
        <a class="main-nav__logo-link base-link" href="index.html">
          <figure class="main-nav__logo-image base-figure">
            <img class="main-nav__logo-img" src="img/image/logo.png" width="124" height="50" alt="Логотип">
          </figure>
        </a>

        <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">

          <a class="main-nav__logo-link main-nav__logo-link--mobile base-link" href="index.html">
            <figure class="main-nav__logo-image base-figure">
              <img class="main-nav__logo-img" src="img/image/logo-mobile-menu.png" width="66" height="26" alt="Логотип">
            </figure>
          </a>

          <ul class="main-nav__nav-list base-list">
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link @@isActive-project base-link" href="project.html">Проект</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link @@isActive-archive base-link" href="archive.html">Пресс-центр</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link @@isActive-about base-link" href="about.html">О компании</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link @@isActive-team base-link" href="team.html">Команда</a>
            </li>
            <li class="main-nav__nav-item">
              <a class="main-nav__nav-link @@isActive-contacts base-link" href="contacts.html">Контакты</a>
            </li>
          </ul>

          <!-- <form class="main-nav__search-bar follow-change" id="search_bar_form">
            <div class="main-nav__search-circle">
              <svg class="main-nav__search-icon" width="16" height="16" alt="Иконка поиска" id="search_icon">
                <use href="img/icon/sprite.svg#search-icon"></use>
              </svg>
            </div>
          </form> -->

          <form class="is-search-form is-form-style is-form-style-3 is-form-id-304 " action="https://cq18080.tmweb.ru/time_development/" method="get" role="search">
            <label for="is-search-input-304">
              <span class="is-screen-reader-text">Search for:</span>
              <input type="search" id="is-search-input-304" name="s" value="" class="is-search-input" placeholder="Search here..." autocomplete="off">
            </label>
            <button type="submit" class="is-search-submit">
              <span class="is-screen-reader-text">Search Button</span>
              <span class="is-search-icon">
                <svg focusable="false" aria-label="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                  </path>
                </svg>
              </span>
            </button>
            <input type="hidden" name="id" value="304">
          </form>

        </div>

        <button class="main-nav__burger base-button follow-change" id="burger">
          <span class="main-nav__burger-line"></span>
        </button>

      </div>
    </nav>
  </header>