<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body>

  <header class="page-header">
    <nav class="main-nav">
      <div class="main-nav__nav-wrapper">
        <div class="main-nav__container base-container">

          <a class="main-nav__logo-link base-link" href="index.html">
            <svg class="main-nav__logo-icon" width="138" height="61" alt="#">
              <use href="img/icon/sprite.svg#logo-icon"></use>
            </svg>
          </a>

          <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">

            <a class="main-nav__logo-link main-nav__logo-link--mobile base-link" href="index.html">
              <svg class="main-nav__logo-icon" width="138" height="61" alt="#">
                <use href="img/icon/sprite.svg#logo-icon"></use>
              </svg>
            </a>

            <ul class="main-nav__nav-list base-list">
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="#">Проект</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="#">Пресс-центр</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="#">О компании</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="#">Команда</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="#">Контакты</a>
              </li>
            </ul>

          </div>
          <button class="main-nav__burger base-button" id="burger">
            <span class="main-nav__burger-line"></span>
          </button>
        </div>
      </div>
    </nav>
  </header>