<section class="contacts">
  <div class="contacts__container base-container">
    <div class="contacts__column contacts__column--left">
      <h2 class="contacts__title base-title">Контакты</h2>
      <ul class="contacts__list base-list">
        <li class="contacts__item">
          <svg class="contacts__item-icon" width="24" height="24" alt="Иконка телефона">
            <use href="img/icon/sprite.svg#phone-icon"></use>
          </svg>
          <a class="contacts__item-link base-link" href="tel:+ 477 123 4567">+ 477 123 4567</a>
        </li>
        <li class="contacts__item">
          <svg class="contacts__item-icon" width="24" height="24" alt="Иконка электронной почты">
            <use href="img/icon/sprite.svg#email-icon"></use>
          </svg>
          <a class="contacts__item-link base-link" href="mailto:timedevelopment.com">timedevelopment.com</a>
        </li>
        <li class="contacts__item">
          <svg class="contacts__item-icon" width="24" height="24" alt="Иконка часов">
            <use href="img/icon/sprite.svg#time-icon"></use>
          </svg>
          <span class="contacts__item-text">c 9:00 до 19:00</span>
        </li>
        <li class="contacts__item">
          <svg class="contacts__item-icon" width="24" height="24" alt="Иконка карты">
            <use href="img/icon/sprite.svg#map-icon"></use>
          </svg>
          <span class="contacts__item-text">г.Москва</span>
        </li>
      </ul>
    </div>
    <div class="contacts__column contacts__column--right">
      <div class="contacts__wrapper">
        <p class="contacts__wrapper-text base-par">
          В сегменте жилой и многофункциональной недвижимости в самых знаковых локациях Москвы.
        </p>
        <figure class="contacts__wrapper-image base-figure">
          <img class="contacts__wrapper-img" src="img/image/contacts-image.png" width="433" height="433" alt="Декоративное изображение круга с фото дома внутри">
        </figure>
      </div>
    </div>
  </div>
</section>