@use "../mixins";

.about-body {
  margin: 0 0 267px 0;

  @include mixins.respond-to(notDesktop) {
    display: none;
  }

  &__title {
    font-size: 97px;
    line-height: 101px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-aqua-deep);
    text-transform: uppercase;

    margin: 0 0 60px 0;
  }

  &__wrapper {
    display: flex;
  }

  &__column {
    position: relative;

    display: flex;
    flex-direction: column;

    &--left {
      padding: 128px 53px 128px 0;
      margin: 0 62px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;

        width: 2px;
        height: 100%;
        background-color: var(--color-aqua-deep);
      }

      & .about-body__column-top {
        margin: 0 0 131px 0;
      }

      & .about-body__column-top p {
        display: inline-block;

        max-width: 605px;

        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        // text-transform: uppercase;

        padding: 0;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }

      & .about-body__column-bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        padding: 0 53px 0 0;
      }

      & .about-body__bottom-image {
        position: relative;
      }
    }

    &--right {
      align-items: center;

      padding: 74px 40px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -97px;

        width: 2px;
        height: 86%;
        background-color: var(--color-aqua-deep);
      }

      & .about-body__top-image {
        position: relative;

        margin: 0 0 106px 0;
      }

      & .about-body__top-graphic {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translateY(-50%) translateX(-50%);
        transition: transform 1s;
      }

      & .time-clocks {
        position: absolute;
        top: -127px;
        right: -51px;

        filter: brightness(0) saturate(100%) invert(24%) sepia(52%) saturate(917%) hue-rotate(127deg) brightness(92%) contrast(102%);
      }
    }
  }

  &__bottom {
    &-info {
      display: flex;
      flex-direction: column;

      max-width: 225px;
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      color: var(--color-aqua-deep);

      margin: 0 0 14px 0;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
    }
  }
}

.about-body__image-graphic {
  position: absolute;
  top: -61px;
  right: -70px;

  width: 140px;
  height: 140px;
  border: 1px solid var(--color-aqua-deep);
  border-radius: 50%;

  z-index: -1;
}