@use "../mixins";

.about-mobile {
  display: none;

  overflow: hidden;

  @include mixins.respond-to(notDesktop) {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__mobile-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 59px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-aqua-deep);
    text-transform: uppercase;

    margin: 0 0 28px 0;

    @include mixins.respond-to(tabletOnly) {
      font-size: 70px;
      line-height: 65px !important;
    }

    @include mixins.respond-to(desktopSOnly) {
      font-size: 70px;
      line-height: 65px !important;
    }
  }

  @media (min-width: 320px) and (max-width:392px) {
    &__mobile-title {
      font-size: 40px;
    }
  }

  &__goal {
    display: flex;
    flex-direction: column;

    margin: 0 0 95px 0;

    &-text {
      margin: 0 0 63px 0;

      & p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: lowercase;
        color: var(--color-black);

        padding: 0;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;
      }

      @include mixins.respond-to(tablet) {
        align-items: flex-start;
        justify-content: space-evenly;
      }
    }

    &-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 110px 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    &-image {

      margin: 0 0 67px 0;

      &--complex {
        position: relative;

        margin: 0 0 97px 0;

        & .about-mobile__sign-icon {
          position: absolute;
          top: -59px;
          right: 4px;
        }

        & .about-mobile__top-graphic {
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translateX(-50%) translateY(-50%);
        }
      }
    }

    &-graphic {
      position: absolute;
      top: -38px;
      right: -43px;

      width: 86px;
      height: 87px;
      border: 1px solid var(--color-aqua-deep);
      border-radius: 50%;

      z-index: -1;
    }
  }

  &__aesthetic {

    margin: 0 0 72px 0;

    &-wrapper {
      display: flex;
      justify-content: flex-start;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;
      }

      @include mixins.respond-to(tablet) {
        justify-content: space-between;
      }
    }

    &-image {
      position: relative;

      margin: 0 0 37px 0;

      &:last-child {
        margin: 0;
      }
    }

    &-img {
      @include mixins.respond-to(tablet) {
        width: 300px;
        height: auto;
      }
    }

    &-graphic {
      position: absolute;
      bottom: -37px;
      right: -22px;

      width: 75px;
      height: 75px;
      border: 1px solid var(--color-aqua-deep);
      border-radius: 50%;
    }

    @media (min-width: 320px) and (max-width:392px) {
      &-img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 0 103px 0;

    & .about-mobile__mobile-title {
      margin: 0 0 56px 0;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      width: 100%;
    }

    &-item {
      width: 100%;
      min-height: 250px;

      margin: 0 0 43px 0;

      &:last-child {
        margin: 0;
      }
    }

    &-image {
      // position: absolute;
      // top: 50%;
      // left: 50%;

      display: flex;
      align-items: stretch;

      width: 100%;

      // transform: translate(-50%, -50%);
    }

    &-img {
      position: relative;
      left: 50%;

      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;

      transform: translateX(-50%);
    }

    &-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
      min-height: 250px;
      background-color: var(--color-aqua-deep);
      opacity: 0;

      transform: translateX(50px);

      padding: 10px;

      & h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-transform: uppercase;
        color: var(--color-golden-fizz);

        padding: 0;
        margin: 0 0 15px 0;
      }

      & span {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--color-golden-fizz);

        padding: 0;
        margin: 0 0 10px 0;
      }
    }
  }
}