@use "../mixins";

.heading {
  height: 1px;
  min-height: 771px;

  padding: 50px 0 0 0;

  @include mixins.respond-to(notDesktop) {
    height: auto;
    min-height: auto;
    overflow: hidden;

    padding: 90px 0 0 0;
  }

  &__container {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    height: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__graphic-text {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopS) {
      width: 500px;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 706px;
      height: auto;
    }
  }

  &__column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    height: 100%;

    &--left {
      flex-direction: column;

      padding: 0 0 100px 0;

      @include mixins.respond-to(notDesktop) {
        padding: 0 0 41px 0;
      }
    }

    &--right {
      @include mixins.respond-to(notDesktop) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include mixins.respond-to(notDesktop) {
        display: flex;
        flex-direction: column;

        width: 100%;
      }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 389px) {
      &--mobile {
        align-items: center;

        width: 100%;
      }
    }
  }

  &__design {
    &-block {
      display: flex;

      width: 100%;

      @include mixins.respond-to(notDesktop) {
        justify-content: center;
      }

      &--top {
        position: relative;

        align-items: flex-end;

        margin: 0 0 65px 0;

        & .heading__design-image:first-child {
          position: relative;

          padding: 0 0 8px 0;
          margin: 0 15px 0 0;

          &::before {
            content: "";
            position: absolute;
            left: -39px;
            bottom: -33px;

            width: 87px;
            height: 92px;
            border: 1px solid var(--color-aqua-deep);
            border-radius: 50%;
          }
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
          & .heading__design-image:first-child {
            align-self: flex-start;

            margin: 0;
          }
        }

        & .heading__design-image:last-child {
          position: relative;

          margin: 0 15px 0 0;

          &::before {
            content: "";
            position: absolute;
            right: -23px;
            bottom: -47px;

            width: 87px;
            height: 92px;
            border: 1px solid var(--color-aqua-deep);
            border-radius: 50%;
          }
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
          & .heading__design-image:last-child {
            align-self: flex-end;

            margin: 0;
          }
        }
      }

      &--bottom {
        align-items: flex-start;

        & .heading__design-image:first-child {
          margin: 0 22px 0 0;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
          & .heading__design-image:first-child {
            align-self: flex-start;

            margin: 0;
          }
        }

        & .heading__design-image:nth-child(2) {
          padding: 8px 0 0 0;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
          & .heading__design-image:last-child {
            align-self: flex-end;

            margin: 0;
          }
        }
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    &__design-block {
      flex-direction: column;
      align-items: center;
    }
  }

  &__caption {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 269px;
    height: 45px;
    border: 1px solid var(--color-black);
    border-radius: 74px;
    background-color: var(--color-white);

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-black);

    padding: 13px 14px 15px 14px;
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }
  }

  &__title {
    display: inline-block;

    max-width: 305px;

    font-weight: 800;
    line-height: 42px;
    color: var(--color-aqua-deep);

    margin: 0 0 77px 0;

    @include mixins.respond-to(mobileOnly) {
      max-width: 100%;

      padding: 32px 0 0 0;
      margin: 0 0 34px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      max-width: 100%;

      padding: 32px 0 0 0;
      margin: 0 0 34px 0;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 36px;
    }
  }

  &__mobile-motto {
    display: none;

    max-width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-black);

    margin: 0 0 61px 0;

    @include mixins.respond-to(mobileOnly) {
      display: block;
    }

    @include mixins.respond-to(tabletOnly) {
      display: block;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 389px) {
    &__title {
      font-size: 34px;
    }
  }

  @media only screen and (min-device-width: 390px) and (max-device-width: 1023px) {
    &__title {
      font-size: 40px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      justify-content: center;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      justify-content: flex-start;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 389px) {
    &__links {
      flex-direction: column;
      align-items: center;

      width: 100%;
    }
  }

  @media only screen and (min-device-width: 375px) {
    &__links {
      flex-direction: row;
    }
  }

  &__about-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 298px;
    height: 82px;
    background: var(--color-golden-fizz);
    border-radius: 61px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-aqua-deep);

    padding: 30px 80px;
    margin: 0 37px 0 0;

    @include mixins.respond-to(notDesktop) {
      padding: 30px 44px;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    &__links .heading__about-link {
      width: 100%;

      margin: 0 0 20px 0;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 1279px) {
    &__links .heading__about-link {
      width: 227px;

      margin: 0 22px 0 0;
    }
  }

  &__projects {
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mixins.respond-to(notDesktop) {
        display: none;
      }
    }

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      background-color: var(--color-aqua-deep);
      border-radius: 50%;

      margin: 0 15px 0 0;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-transform: lowercase;
      color: var(--color-black);
    }
  }

  &__video {
    &-link {
      display: none;
      align-items: center;
      justify-content: center;

      @include mixins.respond-to(notDesktop) {
        display: flex;
      }
    }

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      background-color: var(--color-aqua-deep);
      border-radius: 50%;

      margin: 0 15px 0 0;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-transform: lowercase;
      color: var(--color-black);
    }
  }

  &__puzzle-part {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 1px;
      height: 100%;
      background-color: var(--color-black);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &--left {
      justify-content: flex-end;

      width: 232px;
      min-width: 232px;
      max-width: 232px;

      padding: 0 0 100px 0;

      & .heading__puzzle-img {
        width: 232px;
        min-width: 232px;
        height: 440px;
        min-height: 440px;
      }
    }

    &--middle {
      align-items: center;
      justify-content: flex-end;

      width: 289px;
      min-width: 289px;
      max-width: 289px;
      overflow: hidden;

      & .heading__puzzle-image {
        position: relative;

        margin: 0 0 74px 0;
      }

      & .heading__puzzle-img {
        width: 433px;
        min-width: 433px;
        height: 446px;
        min-height: 446px;

        z-index: 1;
      }

      & .heading__puzzle-info {
        padding: 0 27px 60px 41px;
      }
    }

    &--right {
      align-items: flex-start;
      justify-content: flex-end;

      width: 233px;
      min-width: 233px;
      max-width: 233px;

      padding: 0 0 74px 0;

      & .heading__puzzle-info {
        padding: 0 0 0 44px;
        margin: 0 0 107px 0;
      }

      & .heading__puzzle-img {
        width: 111px;
        min-width: 111px;
        height: 286px;
        min-height: 286px;
      }
    }
  }

  &__puzzle-info {
    display: flex;
    flex-direction: column;
  }

  &__puzzle-title {
    display: inline-block;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-aqua-deep);

    margin: 0 0 14px 0;
  }

  &__puzzle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    color: var(--color-black);
  }

  & .time-clocks {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);

    z-index: 10;
  }
}