@use "../mixins";

.index-projects {
  position: relative;

  overflow: hidden;

  padding: 0 0 60px 0;
  margin: 74px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 40px 0 0 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 40px 0 0 0;
  }

  &__graphic {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 100%;
    height: 588px;
    overflow: hidden;
    background-color: var(--color-aqua-deep);

    z-index: -1;

    @include mixins.respond-to(mobileOnly) {
      position: relative;

      height: 278px;

      padding: 91px 5% 0 5%;
    }

    @include mixins.respond-to(tabletOnly) {
      position: relative;

      height: 278px;

      padding: 91px 5% 0 5%;
    }

    & p {
      font-weight: 600;
      font-size: 24px;
      line-height: 41px;
      border: 0.5px solid;
      white-space: nowrap;

      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.26);

      padding: 0;
      margin: 0;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }

      @include mixins.respond-to(tabletOnly) {
        display: none;
      }
    }
  }

  &__sign-icon {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 3px;
      right: 24px;

      display: block;
    }

    @include mixins.respond-to(tabletOnly) {
      position: absolute;
      top: 3px;
      right: 24px;

      display: block;
    }
  }

  &__projects-icon {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;

      width: 235px;
      height: 37px;
    }

    @include mixins.respond-to(tabletOnly) {
      display: block;

      width: 235px;
      height: 37px;
    }
  }

  &__container {
    width: inherit;
    max-width: calc(100% - ((100% - var(--container-width)) / 2));

    padding: 67px 0 0 0;
    margin: 0;
    margin-left: auto;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 731px;
    height: 257px;
    background-color: var(--color-golden-fizz);

    padding: 35px 28px 38px 59px;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }

    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: var(--color-aqua-deep);
    }

    &-subtitle {
      margin: 0 0 0 -20px;

      z-index: 2;
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;

    margin: -90px 0 0 50px;

    z-index: 1;

    &-slide {
      width: fit-content;
      box-sizing: border-box;
    }
  }

  &__slide {
    &-image {
      position: relative;

      width: 415px;

      @include mixins.respond-to(mobileOnly) {
        width: 238px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 238px;
      }
    }

    &-img {
      width: 415px;

      @include mixins.respond-to(mobileOnly) {
        width: 238px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 238px;
      }
    }

    &-caption {
      position: absolute;
      left: 0;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 243px;
      background: rgba(255, 255, 255, 0.34);
      border-radius: 0px 25px 0px 0px;

      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-white);

      padding: 18px 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
      height: 103px;
      background: #F9F9F9;

      padding: 0 13px;
    }

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: var(--color-aqua-deep);

      margin: 0 0 3px 0;
    }

    &-subtite {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
    }
  }
}