@use "../mixins";

.index-projects {
  position: relative;

  overflow: hidden;

  padding: 0 0 60px 0;
  margin: 74px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 0;
    margin: 40px 0 0 0;
  }

  @include mixins.respond-to(tabletOnly) {
    padding: 0;
    margin: 40px 0 0 0;
  }

  &__graphic {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 100%;
    height: 588px;
    overflow: hidden;
    background-color: var(--color-aqua-deep);

    z-index: -1;

    @include mixins.respond-to(mobileOnly) {
      position: relative;

      height: 278px;

      // padding: 91px 5% 0 5%;
      padding: 0 5%;
    }

    @include mixins.respond-to(tabletOnly) {
      position: relative;

      height: 278px;

      // padding: 91px 5% 0 5%;
      padding: 0 5%;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;

      // @include mixins.respond-to(notDesktopFr) {
      //   display: none;
      // }
    }

    &-row p {
      font-weight: 600;
      font-size: 24px;
      line-height: 41px;
      color: transparent;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.26);

      padding: 0;
      margin: 0;
    }
  }

  &__sign-icon {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 3px;
      right: 24px;

      display: block;
    }

    @include mixins.respond-to(tabletOnly) {
      position: absolute;
      top: 3px;
      right: 24px;

      display: block;
    }
  }

  &__projects-text {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;

      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--color-white);
      text-transform: uppercase;
    }

    @include mixins.respond-to(tabletOnly) {
      display: block;

      font-weight: 800;
      font-size: 70px;
      line-height: 40px;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--color-white);
      text-transform: uppercase;
    }
  }

  &__container {
    width: inherit;
    max-width: calc(100% - ((100% - var(--container-width)) / 2));

    padding: 67px 0 0 0;
    margin: 0;
    margin-left: auto;

    @include mixins.respond-to(mobileOnly) {
      padding: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 0;
    }
  }

  &__caption {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 731px;
    height: 257px;
    background-color: transparent;

    padding: 35px 28px 38px 59px;

    &-layout {
      position: absolute;
      top: 0;
      left: 0;

      width: 731px;
      height: 257px;
      background-color: var(--color-golden-fizz);

      z-index: 1;
    }

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }

    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: var(--color-aqua-deep);

      z-index: 3;
    }

    &-subtitle {
      margin: 0 0 0 -20px;

      z-index: 3;
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;

    margin: -90px 0 0 50px;

    z-index: 1;

    @include mixins.respond-to(mobileOnly) {
      padding: 0 0 0 5%;
      margin: -137px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 0 0 0 5%;
      margin: -137px 0 0 0;
    }

    &-slide {
      width: fit-content;
      box-sizing: border-box;

      @include mixins.respond-to(mobileOnly) {
        width: 238px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 238px;
      }
    }
  }

  &__slide {
    &-image {
      position: relative;

      width: 415px;

      @include mixins.respond-to(mobileOnly) {
        width: 238px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 238px;
      }
    }

    &-img {
      width: 415px;

      @include mixins.respond-to(mobileOnly) {
        width: 238px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 238px;
      }
    }

    &-caption {
      position: absolute;
      left: 0;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 243px;
      background: rgba(255, 255, 255, 0.34);
      border-radius: 0px 25px 0px 0px;

      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-white);

      padding: 18px 10px;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }

      @include mixins.respond-to(tabletOnly) {
        display: none;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
      height: 103px;
      background: #F9F9F9;

      transition: background 0.3s;

      padding: 0 13px;

      &::before {
        content: "";
      }

      @include mixins.respond-to(mobileOnly) {
        height: fit-content;
        background: transparent;

        padding: 17px 5px;
      }

      @include mixins.respond-to(tabletOnly) {
        height: fit-content;
        background: transparent;

        padding: 17px 0;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: var(--color-aqua-deep);

      transition: color 0.3s;

      margin: 0 0 3px 0;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }

      @include mixins.respond-to(tabletOnly) {
        display: none;
      }
    }

    &-subtite {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);

      transition: color 0.3s;
    }
  }

  &__more-button {
    display: none;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 82px;
    background: var(--color-golden-fizz);
    border-radius: 61px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-aqua-deep);

    padding: 30px 80px;
    margin: 122px auto 0 auto;

    @include mixins.respond-to(notDesktop) {
      padding: 30px 44px;
    }

    @include mixins.respond-to(mobileOnly) {
      display: flex;
    }

    @include mixins.respond-to(tabletOnly) {
      display: flex;

      max-width: 300px;
    }
  }

  &__slide-link {
    &:hover {
      & .index-projects__slide-info {
        background: var(--color-aqua-deep);

        transition: background 0.3s;
      }

      & .index-projects__slide-title,
      .index-projects__slide-subtitle {
        color: var(--color-golden-fizz);

        transition: color 0.3s;
      }
    }
  }
}

.disabled {
  filter: grayscale(1) !important;
  pointer-events: none !important;
  user-select: none !important;
}