@use "../mixins";

.index-contacts {
  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    width: inherit;
    max-width: calc(100% - ((100% - var(--container-width)) / 2));

    padding: 56px 0 0 0;
    margin: 0;
    margin-left: auto;
  }

  &__column {

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include mixins.respond-to(desktopS) {
        padding: 85px 0 0 5%;
      }

      @include mixins.respond-to(desktopD) {
        padding: 85px 0 0 0;
      }
    }

    &--right {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      padding: 48px 0 0 0;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: var(--color-aqua-deep);

    margin: 0 0 75px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0 0 30px 0;

    &:last-child {
      margin: 0;
    }

    &-icon {
      margin: 0 38px 0 0;
    }

    &-link,
    .index-contacts__item-text {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: var(--color-aqua-deep);
    }
  }

  &__graphic {
    position: absolute;

    max-width: 670px;

    line-height: 23px;
    color: var(--color-aqua-deep);

    z-index: -1;

    @include mixins.respond-to(desktopS) {
      top: -40px;
      left: -40px;

      font-size: 18px;
    }

    @include mixins.respond-to(desktopD) {
      top: 0;
      left: -183px;

      font-size: 20px;
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    height: 350px;
    background: rgba(255, 248, 52, 0.95);

    padding: 0 0 46px 38px;

    @include mixins.respond-to(desktopS) {
      width: 650px;
    }

    @include mixins.respond-to(desktopD) {
      width: 801px;
    }

    &-text {
      display: inline-block;

      max-width: 195px;

      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
    }

    &-image {
      position: absolute;
      top: 50%;

      transform: translateY(-50%);

      @include mixins.respond-to(desktopS) {
        right: 5%;

        & .index-contacts__wrapper-img {
          width: 300px;
          height: auto;
        }
      }

      @include mixins.respond-to(desktopD) {
        right: 71px;

        & .index-contacts__wrapper-img {
          width: 433px;
          height: 433px;
        }
      }
    }
  }
}