@use "../mixins";

.news {
  position: relative;

  background: url(../img/image/archive-background.png);
  background-position: top;
  background-repeat: no-repeat;

  margin: 128px 0 159px 0;

  @include mixins.respond-to(notDesktopFr) {
    background: none;

    margin: 45px 0 99px 0;
  }

  &__top {
    position: relative;

    display: flex;
    align-items: flex-start;

    width: 100%;

    margin: 0 0 102px 0;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin: 0 0 51px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;

      margin: 0 0 51px 0;
    }

    @include mixins.respond-to(desktopSOnly) {
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;

      margin: 0 0 51px 0;
    }

    &-image {
      position: relative;

      margin: 0 93px 0 0;

      // @include mixins.respond-to(notDesktopFr) {
      //   display: none;
      // }

      @include mixins.respond-to(tablet) {
        margin: 0 30px 0 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: -39px;
        right: 18px;

        width: 140px;
        height: 140px;
        border: 1px solid var(--color-aqua-deep);
        border-radius: 50%;

        z-index: -1;

        @include mixins.respond-to(notDesktopFr) {
          display: none;
        }
      }

      // &--mobile {
      //   display: none;

      //   @include mixins.respond-to(notDesktopFr) {
      //     display: block;
      //   }

      //   @include mixins.respond-to(tablet) {
      //     margin: 0 30px 0 0 !important;
      //   }
      // }
    }

    &-img {
      width: 450px;
      height: 450px;
      border-radius: 50%;
    }

    @media (min-width: 320px) and (max-width: 392px) {
      &-img {
        width: 100%;
        height: auto;
        border-radius: 77px 0px 67px;
      }
    }

    @media (min-width: 393px) and (max-width: 1023px) {
      &-img {
        width: 321px;
        height: 322px;
        border-radius: 77px 0px 67px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;

      max-width: 415px;

      padding: 66px 0 0 0;

      @include mixins.respond-to(mobileOnly) {
        padding: 33px 0 0 0;
      }

      @include mixins.respond-to(tabletOnly) {
        padding: 0;
      }

      @include mixins.respond-to(desktopSOnly) {
        padding: 0;
      }
    }

    & .time-clocks {
      position: absolute;
      top: -95px;
      right: 33px;

      filter: brightness(0) saturate(100%) invert(24%) sepia(52%) saturate(917%) hue-rotate(127deg) brightness(92%) contrast(102%);

      @include mixins.respond-to(notDesktopFr) {
        display: none;
      }
    }

    & .time-clocks__clocks {
      width: 190px;
      height: 190px;
    }
  }

  &__info {
    &-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
      color: var(--color-aqua-deep);

      margin: 0 0 76px 0;

      @include mixins.respond-to(notDesktopFr) {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;

        margin: 0 0 33px 0;
      }
    }

    &-text {
      & p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: lowercase;

        padding: 0;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__main {
    padding: 0 0 0 45px;
    margin: 0 0 128px 0;

    @include mixins.respond-to(notDesktopFr) {
      padding: 0;
      margin: 0 0 64px 0;
    }

    & p {
      display: inline-block;

      width: 100%;
      max-width: 1070px;

      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      font-variant: small-caps;
      color: var(--color-black);
      text-align: left;

      padding: 0;
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;

    padding: 0 0 0 45px;

    @include mixins.respond-to(notDesktopFr) {
      padding: 0;
    }

    &-img {
      @include mixins.respond-to(notDesktopFr) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__text-container {
    position: absolute;
    right: 0;
    bottom: 0;

    overflow: hidden;

    @include mixins.respond-to(notDesktopFr) {
      display: none;
    }
  }

  &__running-text {
    display: flex;
    flex-direction: column;

    width: 733px;
    height: 204px;

    & p {
      font-weight: 600;
      font-size: 20px;
      line-height: 34px;
      text-align: justify;
      color: var(--color-aqua-deep);
      white-space: nowrap;

      padding: 0;
      margin: 0;
    }
  }
}