@use "../mixins";

.page-title {
  font-weight: 800;
  font-size: 128px;
  line-height: 137px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-aqua-deep);
  text-transform: uppercase;

  @include mixins.respond-to(mobileOnly) {
    font-size: 50px;
    line-height: 59px;
  }
}