@use "../mixins";

.press-body {
  margin: 0 0 165px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 0 0 0 17px;
    margin: 0 0 78px 0;
  }

  &__slider {
    width: 100%;
    max-width: 100%;

    margin: 0 0 12px 0;

    @include mixins.respond-to(notDesktop) {
      padding: 0 0 31px 0;
    }
  }

  &__slider-wrapper {

    @include mixins.respond-to(desktopD) {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-flow: row;

      width: 90%;

      margin: 0 auto;
    }
  }

  @media(min-width: '1300px') {
    &__slider-wrapper {
      grid-gap: 38px 52px;

      width: 100%;
      max-width: 1296px;
    }
  }

  &__slider-slide {
    display: flex;
    flex-direction: column;

    max-width: 382px;

    &:hover {

      @include mixins.respond-to(notDesktop) {
        .press-body__slide-image {
          margin: 0 0 20px 0;

          transition: margin 0.3s;
        }
      }

      .press-body__slide-img {
        transform: scaleX(1.05) scaleY(1.05);

        transition: transform 0.3s;
      }

      @include mixins.respond-to(desktopD) {
        .press-body__slide-footer {
          font-size: 18px;

          transition: font-size 0.3s;
        }
      }

      .press-body__slide-graphic {
        right: -22px;
        bottom: -30px;
        transition: right 0.3s, bottom 0.3s;
      }
    }

    @include mixins.respond-to(notDesktop) {
      max-width: 230px;
    }
  }

  &__slide {

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 0 0 19px 0;

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 9px 0;
      }
    }

    &-date {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
      text-transform: lowercase;

      @include mixins.respond-to(notDesktop) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    &-link {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-aqua-deep);
      text-transform: lowercase;
    }

    &-image {
      position: relative;

      margin: 0 0 38px 0;

      transition: margin 0.3s;

      @include mixins.respond-to(notDesktopFr) {
        margin: 0 0 10px 0;
      }
    }

    &-graphic {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 412px;
      background-color: var(--color-golden-fizz);

      transition: right 0.3s, bottom 0.3s;

      z-index: -1;

      @include mixins.respond-to(notDesktop) {
        display: none;
      }
    }

    &-img {
      width: 382px;
      height: 525px;
      object-fit: cover;

      transition: transform 0.3s;

      @include mixins.respond-to(notDesktop) {
        width: 230px;
        height: 350px;
        object-fit: cover;
      }
    }

    &-footer {
      height: 99px;

      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);

      transition: font-size 0.3s;

      @include mixins.respond-to(notDesktop) {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
      }

      // @include mixins.respond-to(desktopD) {
      //   white-space: nowrap;
      // }
    }
  }

  &__slider-pagination {
    display: none;

    @include mixins.respond-to(notDesktop) {
      display: block;
    }
  }

  &__slider-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 0.5px solid var(--color-aqua-deep);
    background-color: transparent;
  }

  &__slider-pagination .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: 0.5px solid var(--color-aqua-deep);
    background-color: var(--color-aqua-deep);
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 256px;
    height: 82px;
    background: var(--color-golden-fizz);
    border-radius: 61px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-aqua-deep);

    padding: 30px 0;
    margin: 0 auto;

    // @include mixins.respond-to(notDesktop) {
    //   display: none;
    // }
  }
}