@use "../mixins";

.project-header {
  margin: 134px 0 230px 0;

  @include mixins.respond-to(notDesktop) {
    margin: 55px 0 111px 0;
  }

  &__container {
    position: relative;

    display: flex;
    align-items: flex-start;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
    }

    & .time-clocks {
      position: absolute;
      bottom: -155px;
      left: 233px;

      filter: brightness(0) saturate(100%) invert(24%) sepia(52%) saturate(917%) hue-rotate(127deg) brightness(92%) contrast(102%);

      @include mixins.respond-to(notDesktop) {
        display: none;
      }
    }

    & .scroll-help {
      position: absolute;
      right: -30px;

      display: none;

      @include mixins.respond-to(desktopM) {
        display: block;
      }

    }
  }

  &__graphic {
    position: absolute;
    top: 105px;
    right: 0;

    display: none;
    justify-content: center;

    width: 87px;
    height: 117px;

    @include mixins.respond-to(notDesktop) {
      display: flex;
    }

    &-container {
      position: relative;

      width: 87px;
      height: 117px;
    }
  }

  &__sign-icon {
    position: absolute;
    top: -29px;
    left: 50%;

    width: 11px;
    height: 48px;

    transform: translateX(-50%);
  }

  &__circle {
    position: absolute;
    display: block;

    width: 87px;
    height: 88px;
    border: 1px solid #005147;
    border-radius: 50%;
  }

  &__image {
    position: relative;

    margin: 0 151px 0 0;

    &-graphic {
      position: absolute;
      top: -50px;
      right: -89px;

      width: 140px;
      height: 140px;
      border: 1px solid var(--color-aqua-deep);
      border-radius: 50%;

      @include mixins.respond-to(notDesktop) {
        top: -19px;
        right: -31px;

        width: 52px;
        height: 54px;
      }
    }

    @include mixins.respond-to(notDesktop) {
      // display: none;
      margin: 0 0 29px 0;
    }

    // &--mobile {
    //   display: none;

    //   @include mixins.respond-to(notDesktop) {
    //     display: block;

    //     margin: 0 0 29px 0;
    //   }
    // }
  }

  &__img {
    width: 391px;
    height: 391px;
    border-radius: 50%;

    @include mixins.respond-to(notDesktop) {
      width: 146px;
      height: 198px;
      border-radius: 45px 0px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 250px;
      height: auto;
    }
  }

  &__info {
    max-width: 610px;
  }

  &__title {
    line-height: 87px;

    margin: 0 0 67px 0;

    @include mixins.respond-to(notDesktop) {
      font-size: 50px;
      line-height: 45px;

      margin: 0 0 35px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 70px;
      line-height: 60px !important;
    }

    @include mixins.respond-to(desktopSOnly) {
      font-size: 70px;
      line-height: 60px !important;
    }
  }

  &__text {
    @include mixins.respond-to(notDesktop) {
      display: none;
    }

    & p {
      display: inline-block;

      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      // text-transform: uppercase;

      padding: 0;
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__text--mobile {
    display: none;

    @include mixins.respond-to(notDesktop) {
      display: block;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: lowercase;
      color: #000000;
    }
  }
}