@use "../mixins";

.single-projects {
  &__heading {
    overflow: hidden;

    margin: 91px 0 87px 0;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;

      margin: 30px 0 40px 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-top {
      position: relative;

      display: flex;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;

        margin: 0 0 30px 0;
      }
    }

    &-bottom {
      display: flex;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
      }
    }
  }

  &__top {
    &-image {
      position: relative;

      display: block;

      margin: 0 84px 0 0;

      @include mixins.respond-to(notDesktop) {
        display: none;
      }

      &--mobile {
        display: none;

        @include mixins.respond-to(notDesktop) {
          display: block;

          margin: 0 0 50px 0;
        }
      }
    }

    &-img--mobile {
      @include mixins.respond-to(notDesktop) {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &-graphic {
      position: absolute;
      top: -42px;
      right: -76px;

      width: 140px;
      height: 140px;
      border-radius: 50%;

      z-index: -1;

      @include mixins.respond-to(notDesktop) {
        display: none;
      }
    }

    &-desc {
      padding: 98px 0 0 0;

      @include mixins.respond-to(notDesktop) {
        padding: 0;
      }
    }

    &-title {
      font-weight: 800;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;

      margin: 0 0 25px 0;

      @include mixins.respond-to(notDesktop) {
        margin: 0 0 20px 0;
      }
    }

    &-text {
      max-width: 485px;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
        max-width: initial;
      }

      & p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: lowercase;

        padding: 0;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__bottom {
    &-text {
      max-width: 605px;

      padding: 78px 0 0 0;
      margin: 0 160px 0 0;

      @include mixins.respond-to(notDesktop) {
        order: 2;

        padding: 0;
        margin: 0;
      }

      & p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: lowercase;

        padding: 0;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    &-image {
      @include mixins.respond-to(notDesktop) {
        order: 1;

        margin: 0 0 30px 0;
      }
    }

    &-img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__time-clocks {
    position: absolute;
    top: -58px;
    right: 40px;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  &__time-number {
    display: inline-block;

    font-weight: 800;
    font-size: 32px;
    line-height: 38px;

    margin: 0 0 10px 0;
  }

  &__slider {
    position: relative;

    overflow: hidden;

    margin: 0 0 51px 0;

    @include mixins.respond-to(notDesktop) {
      padding: 0 0 42px 5%;
    }

    &-slide {
      width: 522px;
      height: 408px;

      @include mixins.respond-to(notDesktop) {
        width: 230px;
        height: 350px;
      }
    }

    &-arrows {
      position: absolute;
      top: 155px;
      left: 50%;

      display: flex;
      justify-content: space-between;

      width: 90%;

      transform: translateX(-50%);

      margin: 0 auto;

      z-index: 10;

      @include mixins.respond-to(notDesktop) {
        display: none;
      }

      & .swiper-button-disabled:hover {
        background: rgba(255, 255, 255, 0.83) !important;
        background: rgba($color: #000000, $alpha: 1.0);
      }
    }
  }

  &__slide-img {
    @include mixins.respond-to(notDesktop) {
      width: 230px;
      height: 350px;
    }
  }

  &__arrows-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.83);

    transition: background 0.3s;

    &:hover {
      background: var(--color-golden-fizz);

      transition: background 0.3s;
    }
  }

  &__marquee-container {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    overflow: hidden;

    margin: 0 0 66px 0;
  }

  &__marquee {
    display: flex;
    flex-direction: column;

    width: 730px;
    height: 220px;
    overflow: hidden;

    @include mixins.respond-to(notDesktop) {
      display: none;
    }
  }

  &__marquee-row {
    & p {
      font-weight: 600;
      font-size: 20px;
      line-height: 34px;
      text-align: justify;
      white-space: nowrap;

      padding: 0;
      margin: 0;
    }
  }

  &__slider-pagination {
    display: none;

    @include mixins.respond-to(notDesktop) {
      display: block;
    }
  }

  &__slider-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 0.5px solid var(--color-aqua-deep);
    background-color: transparent;
  }

  &__slider-pagination .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: 0.5px solid var(--color-aqua-deep);
    background-color: var(--color-aqua-deep);
  }
}