@use "../mixins";

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	scrollbar-gutter: stable;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;

	font-family: var(--font-family-default);
	color: var(--color-black);

	margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.body-hidden {
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;
		background: rgba($color: #000000, $alpha: 0.9);

		transition: background 0.3s;

		z-index: 10;
	}
}

.cover-default {
	position: relative;

	z-index: 1;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100vh;
		background-color: rgba($color: #000000, $alpha: 0);
		user-select: none !important;
		pointer-events: none !important;

		transition: background-color 0.3s;

		z-index: 10;
	}

	&--active {
		&::after {
			background-color: rgba($color: #000000, $alpha: 0.8);

			transition: background-color 0.3s;
		}
	}
}