:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-aqua-deep: #005147;

	// Шрифты
	--font-family-default: 'Raleway', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}